* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  margin: auto;
  padding: 2rem;
  background-color: black;
}

.card {
  background-color: rgb(61, 61, 61);
  margin: 2rem 0;
  padding: 1rem;
  color: whitesmoke;
  height: auto;
}

.card img {
  cursor: pointer;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
  max-height: 100%;
  transition: 0.3s ease-in;
  opacity: 0;
  align-items: center;
  overflow: scroll;
}

.card:hover,
.overview:hover {
  /* transform: translateY(0); */
  opacity: 1;
}

.footer {
  background-color: rgb(61, 61, 61);
  color: whitesmoke;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .box {
    display: block;
  }
}
