@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #212529;
    font-family: sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.signup-outer-container { 
    border-radius: 5px;
    border: 1px solid white;
    overflow: hidden;
    width: 600px;
    height: 700px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.signup-inner-container {
    width: 90%;
}

.signup-inner-container h1 {
    margin: 30px 0;
}

.login-outer-container { 
    border-radius: 5px;
    border: 1px solid white;
    overflow: hidden;
    width: 600px;
    height: 450px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.login-inner-container {
    width: 90%;
}

.login-inner-container h1 {
    margin: 30px 0;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: none;
    background: #eee;
}

.errorMessage {
    height: 15px;
    font-size: 14px;
    color: #fd6554;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

.already-signup {
    margin-top: 30px;
}

.already-signup a {
    color: #fff;
}



